@{
    ViewData["Title"] = "InformationDisclosure Demo";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/app.css" />
</head>
<body>
    <!-- Access log is being included at /logs/access-log.txt for development -->
    <h1 style="text-align: center; margin-bottom: 40px;">🧪 Information Disclosure Demo</h1>

    <div class="container">
        <!-- Vulnerable Functionality -->
        <div class="box">
            <h2>It looks like developers have forgotten to remove the access-log file before moving it to Prod :)</thead></thead></h2>
            <h6>@ViewData["Result"]</h6>
        </div>

        <!-- Secure Coding Challenge -->
        <div class="box">
            <h2>🔐 Secure the Code</h2>
            <p>This page is vulnerable to <strong>Information Disclosure.</strong></p>
            <p>Your task is to find the line that causes this and fix it.</p>
            <button class="btn btn-outline-dark mt-2" onclick="openCodePopup()">🕵️ Identify Vulnerability</button>
        </div>
    </div>
    
    <h6 style="margin: 25px;">More Information:</h6>
    <ul>
        <li>
            <a href="https://portswigger.net/web-security/information-disclosure">Portswigger - Information Disclosure</a>
        </li>
        <li>
            <a href="https://www.ibm.com/docs/en/snips/4.6.0?topic=categories-information-disclosure-attacks">IBM - Information Disclosure</a>
        </li>
    </ul>

    <div id="codeModal" class="modal"></div>

    <script src="~/js/infodis.js"></script>
</body>